#cajaSlide {
    display: block;
    /* Hace que el contenedor ocupe toda la línea horizontalmente */

    margin: 0;
    /* Elimina los márgenes alrededor del contenedor */

    width: 100%;
    /* Ajusta el contenedor para que ocupe el 100% del ancho disponible */

    text-align: center;
    /* Centra el contenido dentro del contenedor horizontalmente */
}

#cajaSlide IMG {
    max-width: 800px;
    /* Establece un ancho máximo de 800 píxeles para la imagen */

    border: 10px solid black;
    /* Aplica un borde de 10 píxeles de grosor, sólido y negro a la imagen */

    border-radius: 20px;
    /* Redondea las esquinas de la imagen con un radio de 20 píxeles */

    box-shadow: 10px 10px 10px black;
    /* Añade una sombra negra alrededor de la imagen, desplazada 10 píxeles en ambos ejes y con desenfoque de 10 píxeles */

    cursor: pointer;
    /* Cambia el cursor a una mano al pasar sobre la imagen */
}
